*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #1B262C;
}
.main{
    width: 800px;
    height: 100%;
    padding-top: 20%;
    background-color: red;
}
.inputTodo{
    width: 100%;
    background-color: white;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .input{
        width: 50%;
        height: 100%;
        border: none;
        outline: none;
        font-size: medium;
    
    }
    .inputTime{
        position: absolute;
    }
    .MuiButton-endIcon MuiButton-iconSizeMedium css-9tj150-MuiButton-endIcon
}
.todo{
    width: 100%;
    height: 50px;
    background-color: white;
    margin: 10px 0px;
}

